<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group mt-3">
    <input class="form-control" type="text" placeholder="input todo's name" name="name">
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>